* {
  margin: 0;
}
body {
  background-color: #f5f6fa;
}
.app {
  display: flex;
  /* justify-content: space-between; */
  padding: 20px;
}
.app-left {
  flex: 0.4;
  overflow: scroll;
  height: 100vh;
  /* min-height: 100%; */
}
.app-right {
  flex: 0.6;
}
.app-graph {
  margin-top: 10px;
  padding-left: 16px;
}
.app-stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 630px) {
  .app {
    flex-direction: column-reverse;
  }
}
